In [7]:
print("Hello Wolrd");

x=10;y=20;z=x+y;
print(z)

Hello Wolrd
30

Semantics

In [8]:
##Variable Assignments
age=32
name="Kris"
##kernel will understand the data type in runtime
print(age)
print(name)

32
Kris

Type Inference

In [9]:
type(age)
##age="vinod"
print(type(age))
if(age>32):
    print(age)

<class 'int'>

In [10]:
## Code examples of Indentation
if True:
    print("Correct Indendation-->");
    if False:
        print("This is print")
    print("if print")
print("gg")

Correct Indendation-->
if print
gg

In [11]:
## Declare and assigning variables
age=32
height=6.1
name="Krish"
is_student=True

## Printing the variables.

print("age :",age)
print("Heaight :",height)
print("name :",name)

age : 32
Heaight : 6.1
name : Krish

In [12]:
## Naming Convestions
## Variables--> Should be descriptive, they must start with letter or underscore and letters and numbers
## variable names of case sensitives
first_name="Krishn"
_lastName="Dev"

In [13]:
## Understanding of Variable types
##Python is dynamically types, type if varibale is determined at runtime.

age=25
height=11.2
name="krishn"
is_student=True
print(type(height))

<class 'float'>

In [14]:
##Type checking and conversions
type(height)## Float
type(str(height))# str
age='23'
type(age)
type(int(age))
type(is_student)

bool

In [ ]:
##Dynmic typing
##python allows the type of a variable as the program executes

var=10
print(var,type(var))
var="vinod"
print(var,type(var))
var=12.3
print(var,type(var))

##Input
age=input("what is your age-->")
print(2024-int(age))## usually the input comes as str format

10 <class 'int'>
vinod <class 'str'>
12.3 <class 'float'>

ValueError: invalid literal for int() with base 10: ''

In [ ]:
## Simple calculator
num1=float(input("Enter first numebr: "))
num2=float(input("Enter second numebr: "))
sum=num1+num2
difference=num1-num2
product=num1*num2;
quotient=num1/num2;
print("Sum-->",sum)
print("Difference-->",difference)
print("Product-->",product)
print("Quotient-->",quotient)

Sum--> 90.0
Difference--> 60.0
Product--> 1125.0
Quotient--> 5.0

In [ ]:
## Data Types==
##Intergersn Examples
age=25
type(age)
bool()


## Common errors
result="Hello "
print(result.upper())

HELLO

In [ ]:
## Operators

a=10
b=5


add_result=a+b
sub_result=a-b
mult_result=a*b
div_result=a/b ## Division Operation
floor_div_result=a//b##Floor division
modulus_result=a%b ## Modulus operation
exponent_result=a**b## Exponentiation


print(add_result);
print(sub_result);
print(mult_result);
print(div_result);
print(floor_div_result);
print(modulus_result);
print(exponent_result);

15
5
50
2.0
2
0
100000

True

In [18]:
## Comparison Operator 

a=10
b=10

a==b

str1="Krish"
str2="KriSh"

X=False
not X
print(not X)

True

In [29]:
##If statement

age=20

if age>=20:
    print("allowed-->")
## Else


age =16

if age>=18:
    print("ypu are elgible for vote")
else:
    print("you are a minor")
 


##elif ==> else if allows to check mutliple conditions

age=int(input("enter your age"))
if age<13:
    print("you are a child-->")
elif age<18:
    print("you are a tenager -->")
else: 
    print("you are an adult")


## Nested conditional statments
## You can place one or more elif or if statmenbts in if or elif or else statements

## number even or odd or negitive

num=int(input("enter the number"))
 
if num>=0:
    print("The numebr is positive ")
    if num%2==0:
        print("The number is even")
    else:
        print("The number is Odd number")
else:
    print("the number is negitive")

allowed-->
you are a minor
you are an adult
the number is negitive

In [32]:
## Practical Examples
## determine , if a year is leap or not using nesteed 

## logic if a year divisable by 400 and should not be divisaible by 100 and divisible by 4then leap year

input_year=int(input("please enter the  year"))

if input_year%400==0:
    print("It's a leap year")
elif input_year%4==0 and input_year%100!=0:
    print("It's a leap year")
else:
    print("It's not an  leap year")

It's not an  leap year

In [2]:
##SImple Calculator

num1=int(input("Please enter the first number"))
num2=int(input("enter the second number"))
operation=str(input("Please select the operation + , -, *, / or %"))

if operation=='+':
    print(num1+num2)
elif operation=='-':
    print(num1-num2)
elif operation=='*':
    print(num1*num2)
elif operation=='/':
    print(num1/num2)
elif operation=='%':
    print(num1%num2)
else:
    print("Please select a valid operator")

5.0